p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.mainh{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    color: whitesmoke;
}

body{
    background-color: darkslategrey;
}