p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    text-align: center;
    color: whitesmoke;
    padding-top: 100px;
}

body{
    background-color: rgb(26, 30, 35);
}